[
  {
    "token": "pRrMRpbCbNjuFSqP9OUDUKOfBRMpTmnDB6aX8qPWIz6ZayfkOvbJzEpA9fkHYk8+",
    "name": "Account-Main"
  },
  {
    "token": "example_token_account_2_xxxxxxxxxxxxxxxxxxxxxx",
    "name": "Account-Backup-1"
  }
]
